@{
    ViewData["Title"] = "Home Page";
}


<h2>@ViewData["Title"]</h2>

    <div class="row top-buffer">
        <div class="col-md-6">HI</div>
        <div class="col-md-2">whatsup</div>
        <div class="col-md-2">How is it going</div>
    </div>




